# ======================
# Environment Variables
# ======================
.env
*.env

# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc
*.pyo

# ======================
# Node
# ======================
node_modules/

# ======================
# Model Files
# ======================
final_support_model/
*.bin
*.safetensors
*.pt

# ======================
# Vector DB
# ======================
chroma_db/

# ======================
# Build Files
# ======================
dist/
build/

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db